<h2>Task title: <%= @task.title %></h2>
<p>Task details: <%= @task.details %></p>
<p>Is completed? <%= @task.completed %></p>

<br>
<%= link_to "Delete",
  task_path(@task),
  data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
%>
<br>


<%= link_to("edit this task", edit_task_path) %>
<br>
<%= link_to("home", tasks_path) %>
